# ------------------------------------------------------------------------------
# PostgreSQL .postgres
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=foodguard_api
POSTGRES_USER=example
POSTGRES_PASSWORD=example

# ------------------------------------------------------------------------------
# Github .git_config
# ------------------------------------------------------------------------------
GIT_USER_NAME="example"
GIT_USER_EMAIL="example@email.com"
